*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: black;
}

.w-100{
  width: 100%;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.container{
  width: 90%;
  min-width: 100px;
  margin: 0 auto;
}

.flex-container{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.top-menu{
  height: 70px;
}

.top-btn-container{
  top: 10px;
  right: 5px;
}

.top-btn-container a{
  text-decoration: none;
  padding: 5px 2px;
  color: white;
  background-color: #4A4A4A;
  font-size: 14px;
  font-weight: 800px;
  text-transform: capitalize;
  border-radius: 5px;
}

.top-btn-container i{
  margin: 0px 3px;
  font-size: 16px;
}

main{
  height: calc(100vh - 170px);
  overflow: scroll;
}

.user{
  width: calc(100%/7);
  min-width: 200px;
  padding: 0px 2px;
}

.user .name{
  bottom: 10px;
  left: 0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 5px 8px;
  background-color: rgba(128, 128, 128, 0.555);
}

.user .name i{
  margin-right: 2px;
}

.bottom-menu{
  height: 100px;
  background-color: #222222;
}